{:deps true
 :dev-http {9000 [".", "public"]}
 :builds
 {:app {:target :browser
        :output-dir "out"
        :asset-path "/js"
        :compiler-options {:optimizations :advanced}
        :runtime :browser
        :modules {:main {:entries [tetris.main]
                         :init-fn tetris.main/init}}

        :dev {:modules {:main {:entries [tetris.main]
                               :init-fn tetris.main/init
                               :preloads [tetris.dev-preload
                                          malli.dev.cljs-kondo-preload]}}}

        :release {:compiler-options {:optimizations :advanced}}

        :devtools {:preloads [tetris.dev-preload]}}}
 :nrepl {:port 7888}}
